/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  :root {
    --color-1: #00f;
    --color-2: #323;
    --color-3: #c70c56;
    --color-4: #fff;
    --shadow-color: #000;
  }
  
  html { 
    font-size: 18px;
  }


  html * {
    border: 6px solid var(--color-2);
  }

  .page-wrapper {
    display:grid;
    grid-template-areas: "header . nav"
                         "divide divide divide"
                         "left main right"
                         "foot foot foot";
    gap: 4rem;
  }

  header {
    grid-area: header;
    /* border: 1px solid var(--color-1); */
  }

  header h1 {
    transform: rotate(-10deg);
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
  }

  nav {
    grid-area: nav;
    place-self: center;
    /* border: 1px solid var(--color-3); */
  }

  .divider {
    grid-area: divide;
    /* border: 1px solid var(--shadow-color); */
    /* justify-self: center; */
    place-self: center;
    text-transform: uppercase;
  }



  .left-panel {
    grid-area: left;
    justify-self: flex-start;
  }

  main {
    /* min-width: 80%; */
    grid-area: main;
    /* border: 1px solid var(--color-3); */
    /* place-self: center; */
    /* margin: 0 auto; */
  }

  .right-panel {
    grid-area: right;
    justify-self: flex-end;
  }

  footer {
    grid-area: foot;
  }