/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  :root {
    --color-1: #00f;
    --color-2: #323;
    --color-3: #c70c56;
    --color-4: #fff;
    --shadow-color: #000;
  }
  
  html {
    border: 1px solid var(--color-2);
  }

  .page-wrapper {
    display:grid;
    grid-template-areas: "header . nav"
                         "divide divide divide"
                         "left main right"
                         "foot foot foot";

  }

  header {
    grid-area: header;
    border: 1px solid var(--color-1);
  }

  nav {
    grid-area: nav;
    border: 1px solid var(--color-3);
  }

  .divider {
    grid-area: divide;
    border: 1px solid var(--shadow-color);
    justify-self: center;
  }



  .left-panel {
    grid-area: left;
  }

  main {
    grid-area: main;
    border: 1px solid var(--color-3);
  }

  .right-panel {
    grid-area: right;
  }

  footer {
    grid-area: foot;
  }